@charset "utf-8";
/* CSS Document */
#OT_searchWrapperAll 
{
	
	height:200px;
	position:relative;
	padding:0;
	background:#fff;
	margin-left: auto;
	margin-right: auto;
}

#OT_searchWrapper
{
	border:none;
	background:#fff;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:12px;
	width:100%;
	height:100px;
	position:relative;
	margin:0;
}
	
#OT_searchWrapper .OT_feedTitle
{
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin:0 0 1px 5px;
	font-size:12px;
	font-weight:normal;
	line-height:normal;
}

#OT_searchWrapper dl
{
	position:absolute;
	top:0;
	left:0;
	padding:0;
	margin:0;
}

#OT_partySizeLbl
{
	position:absolute;
	top:15px;
	left:0;
	margin:0 0 0 5px;
	padding:3px 0;
	text-align:right;
	width:110px;
	display:block;
}

#OT_partySize
{
	position:absolute;
	top:15px;
	left:120px;
	margin:0;
	padding:0;
}

#OT_dateLbl
{
	position:absolute;
	top:45px;
	left:0;
	margin:0 0 0 5px;
	padding:2px 0;
	text-align:right;
	width:110px;
}

#OT_date
{
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:12px;
	position:absolute;
	top:47px;
	left:120px;
	width:82px;
	margin:0;
	padding:0;
}
	
#OT_timeLbl
{
	position:absolute;
	top:75px;
	left:0px;
	width:110px;
	padding:0px;
	text-align:right;
}

#OT_time
{
	position:absolute;
	top:75px;
	left:120px;
	margin:0;
}

#OT_empty
{
	position:absolute;
	width:0;
	height:0;
	padding:0;
	margin:0;
	top:100px;
	left:0;
}

#OT_submitWrap
{
	position:relative;
	top:105px;
	left:50px;
	margin:0 5px 0 0;
	/*background-color:#a0a0a0;*/
	z-index:5;
}
#OT_Submit {
	display: inline-block;
	background: #4b6b80;
	color: #fff !important;
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px 10px 5px 10px;
	margin-left: 20px;
	font-family: "futura-pt",sans-serif;
	cursor: pointer;
	border: none;
}
#OT_submitWrap input[type="submit"]:hover{
	background-color: #666 !important;
	color: #fff;	
}

#OT_logo
{
	position:absolute;
	top:165px;
	left: 105px;
	
	padding:0;
	margin:0;
	display:block;
	background:#fff;
}

#OT_logoLink
{
	position:absolute;
	top:150px;
	left:0;
	width:100%;
	padding:0 0 10px 0;
	margin:0;
	font-size:9px;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	display:block;
	background:#fff;
	color: #000 !important;
}

#OT_logoLink a{padding:0 0 0 10px;}

#OT_imglogo{border:0;margin:0 0 0 10px;}

#OT_searchWrapper form{margin:0;padding:0;}

#OT_searchWrapper input.hidden{display:none;}

#OT_searchWrapper .feedFormField,#OT_searchWrapper .feedFormField option
{
	font-size:10px;
	margin:2px 2px 2px 2px;
}

#OT_searchWrapper #startDate,#OT_searchWrapper .OT_feedFormfieldCalendar
{
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:10px;
	margin:0;
	width:85px;
}

#OT_searchWrapper #dateDisplay
{	
	font-size:10px;
	color:#999;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	float:right;
	margin:0 30px 0 0;
	/* display:inline; */
	display:none;
}

#OT_searchWrapper .imgCal
{
	position:absolute;
	display:none;
	z-index:100;
}

#OT_searchWrapper #imageCal table
{
	font-size:12px;
	width:150px;
	font-family:arial;
	font-weight:bold;
	background:#FFF;
}

#OT_searchWrapper #imageCal td
{
	padding:0;
	text-align:center;
}

#OT_searchWrapper .clickableDays
{
	color:#000;
	text-decoration:none;
	height:18px;
}

#OT_searchWrapper .nonclickableDays
{
	color:#CCC;
	height:18px;
}

#OT_searchWrapper .months
{
	color:#FFF;
	text-decoration:none;
}

#OT_searchWrapper .weekdays 
{
	color:#000;
	text-decoration:none;
	color:#666;
	background-color:#EFEFEF;
	width:14%;
}
 .ui-datepicker
{
	font-size: 0.8em;
}




